.p-xs {
	padding: 0.25em !important;
}

.p-sm {
	padding: 0.5em !important;
}

.p-md {
	padding: 1em !important;
}

.p-lg {
	padding: 1.5em !important;
}

.p-xl {
	padding: 3em !important;
}

.px-xs {
	padding: 0.25em 0 !important;
}

.px-sm {
	padding: 0.5em 0 !important;
}

.px-md {
	padding: 1em 0 !important;
}

.px-lg {
	padding: 1.5em 0 !important;
}

.px-xl {
	padding: 3em 0 !important;
}

.py-xs {
	padding: 0 0.25em !important;
}

.py-sm {
	padding: 0 0.5em !important;
}

.py-md {
	padding: 0 1em !important;
}

.py-lg {
	padding: 0 1.5em !important;
}

.py-xl {
	padding: 0 3em !important;
}

.pt-xs {
	padding-top: 0.25em !important;
}

.pt-sm {
	padding-top: 0.5em !important;
}

.pt-md {
	padding-top: 1em !important;
}

.pt-lg {
	padding-top: 1.5em !important;
}

.pt-xl {
	padding-top: 3em !important;
}

.pr-xs {
	padding-right: 0.25em !important;
}

.pr-sm {
	padding-right: 0.5em !important;
}

.pr-md {
	padding-right: 1em !important;
}

.pr-lg {
	padding-right: 1.5em !important;
}

.pr-xl {
	padding-right: 3em !important;
}

.pb-xs {
	padding-bottom: 0.25em !important;
}

.pb-sm {
	padding-bottom: 0.5em !important;
}

.pb-md {
	padding-bottom: 1em !important;
}

.pb-lg {
	padding-bottom: 1.5em !important;
}

.pb-xl {
	padding-bottom: 3em !important;
}

.pl-xs {
	padding-left: 0.25em !important;
}

.pl-sm {
	padding-left: 0.5em !important;
}

.pl-md {
	padding-left: 1em !important;
}

.pl-lg {
	padding-left: 1.5em !important;
}

.pl-xl {
	padding-left: 3em !important;
}

.m-auto {
	margin: auto !important;
}

.m-xs {
	margin: 0.25em !important;
}

.m-sm {
	margin: 0.5em !important;
}

.m-md {
	margin: 1em !important;
}

.m-lg {
	margin: 1.5em !important;
}

.m-xl {
	margin: 3em !important;
}

.mx-xs {
	margin: 0.25em 0 !important;
}

.mx-sm {
	margin: 0.5em 0 !important;
}

.mx-md {
	margin: 1em 0 !important;
}

.mx-lg {
	margin: 1.5em 0 !important;
}

.mx-xl {
	margin: 3em 0 !important;
}

.my-xs {
	margin: 0 0.25em !important;
}

.my-sm {
	margin: 0 0.5em !important;
}

.my-md {
	margin: 0 1em !important;
}

.my-lg {
	margin: 0 1.5em !important;
}

.my-xl {
	margin: 0 3em !important;
}

.mt-xs {
	margin-top: 0.25em !important;
}

.mt-sm {
	margin-top: 0.5em !important;
}

.mt-md {
	margin-top: 1em !important;
}

.mt-lg {
	margin-top: 1.5em !important;
}

.mt-xl {
	margin-top: 3em !important;
}

.mr-xs {
	margin-right: 0.25em !important;
}

.mr-sm {
	margin-right: 0.5em !important;
}

.mr-md {
	margin-right: 1em !important;
}

.mr-lg {
	margin-right: 1.5em !important;
}

.mr-xl {
	margin-right: 3em !important;
}

.mb-xs {
	margin-bottom: 0.25em !important;
}

.mb-sm {
	margin-bottom: 0.5em !important;
}

.mb-md {
	margin-bottom: 1em !important;
}

.mb-lg {
	margin-bottom: 1.5em !important;
}

.mb-xl {
	margin-bottom: 3em !important;
}

.ml-xs {
	margin-left: 0.25em !important;
}

.ml-sm {
	margin-left: 0.5em !important;
}

.ml-md {
	margin-left: 1em !important;
}

.ml-lg {
	margin-left: 1.5em !important;
}

.ml-xl {
	margin-left: 3em !important;
}
