{
	"root": true,
	"env": {
		"node": true,
		"browser": true,
		"es2021": true
	},
	"extends": ["eslint:recommended", "@nuxt/eslint-config", "prettier"],
	"parserOptions": {
		"ecmaVersion": 2021
	},
	"plugins": ["prettier"],
	"rules": {
        "vue/no-template-shadow" : "error",
		"@typescript-eslint/no-unused-vars": "error",
		"no-shadow": "off",
		"@typescript-eslint/no-shadow": "error",
		"@typescript-eslint/explicit-function-return-type": "error",
		"@typescript-eslint/explicit-module-boundary-types": "error",
		"indent": ["error", "tab"],
		"vue/component-tags-order": [
			"error",
			{
				"order": ["template", "script", "style"]
			}
		],
		"vue/html-indent": ["error", "tab"],
		"prettier/prettier": ["error"]
	}
}
