name: Continuous deployment
on:
	release:
		types: [ published ]
jobs:
	api:
		name: Build API Docker image and publish
		runs-on: ubuntu-latest
		strategy:
			fail-fast: false
			matrix:
				image: [ 'WebAPI', 'Frontend' ]
		steps:
			- name: Check out the repo
			  uses: actions/checkout@v4
			- name: Log in to Docker Hub
			  uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
			  with:
				  username: ${{ secrets.DOCKER_USERNAME }}
				  password: ${{ secrets.DOCKER_TOKEN }}
			- name: Extract metadata (tags, labels) for Docker
			  id: meta
			  uses: docker/metadata-action@e6428a5c4e294a61438ed7f43155db912025b6b3
			  with:
				  images: typiqally/epsilon
			- uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56
			  with:
				  context: .
				  file: ./Epsilon.Host.${{ matrix.image }}/Dockerfile
				  push: true
				  tags: ${{ steps.meta.outputs.tags }}-${{ matrix.image }}
				  labels: ${{ steps.meta.outputs.labels }}-${{ matrix.image }}
#    frontend:
#        name: Build frontend Docker image and publish
#        runs-on: ubuntu-latest
