name: Release
on:
    workflow_dispatch:
        inputs:
            tag:
                description: "Tag"
                required: true
                default: "v0.0.0"
            draft:
                description: "Draft"
                required: true
                default: true
            prerelease:
                description: "Prerelease"
                required: true
                default: false
    push:
        tags:
            - "v*"
jobs:
    tagged-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v3
            - uses: ncipollo/release-action@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  draft: ${{ inputs.draft || true }}
                  generateReleaseNotes: true
                  tag: ${{ inputs.tag || github.ref_name }}
                  prerelease: ${{ inputs.prerelease || false }}               