name: Release
on:
    push:
        branches:
            - 'release/**'
            - 'release/**-Beta.*'
jobs:
    define-version:
        if: github.event.created
        permissions: write-all
        runs-on: ubuntu-latest
        
        steps:
            -   name: Split branch name
                id: split
                run: echo "::set-output name=fragment::${{GITHUB_REF##*/}}"
            -   name: Checkout repository
                uses: actions/checkout@v2

            -   name: Update version
                run: |
                    jq '.version = "${{ steps.split.outputs.fragment }}"' Epsilon.Host.Frontend/package.json > Epsilon.Host.Frontend/package.json.tmp
                    mv Epsilon.Host.Frontend/package.json.tmp Epsilon.Host.Frontend/package.json

            -   name: Commit changes
                uses: EndBug/add-and-commit@v9
                with:
                    default_author: github_actions
                    message: "Bump version package.json to ${{ steps.split.outputs.fragment }}"
                    add: 'Epsilon.Host.Frontend/package.json'
                    push: "origin HEAD:${{GITHUB_REF##*/}}"
    create-pr:
        needs: [ define-version ]
        runs-on: ubuntu-latest
        steps:
            -   name: create pull request
                run: gh pr create -B main -H ${{GITHUB_REF}} --title '${{GITHUB_REF##*/}}' --body 'Created by Github action'
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    