name: Release
on:
    push:
        branches:
            - 'release/[0-9].[0-9].[0-9]'
            - 'release/[0-9].[0-9].[0-9]-beta.[0-9][0-9]'
env:
    CURRENT_BRANCH: ${{ github.ref }}
    APP_VERSION: ''
    FRONTEND_LOCATION: 'Epsilon.Host.Frontend'
jobs:
    define-version:
        if: github.event.created
        name: Set new version in package.json
        permissions: write-all
        runs-on: ubuntu-latest
        steps:
            -   name: Extract branch name
                shell: bash
                run: echo "APP_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
            -   name: Checkout repository
                uses: actions/checkout@v4
            -   name: Setup node
                uses: actions/setup-node@v4
                with:
                    node-version: 20
            -   name: Set version
                run: |
                    cd ${{ env.FRONTEND_LOCATION }}
                    npm version ${{ env.APP_VERSION }} --git-tag-version false -f
            -   name: Commit changes
                uses: EndBug/add-and-commit@v9
                with:
                    default_author: github_actions
                    message: Bump version package.json to ${{ env.APP_VERSION }}
                    add: ${{ env.FRONTEND_LOCATION }}/package.json
                    push: origin HEAD:release/${{env.APP_VERSION}}
    pull-request-creation:
        needs: [ define-version ]
        name: Create Pull Request
        permissions:
            contents: write
            pull-requests: write
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
            -   name: Extract branch name
                shell: bash
                run: echo "APP_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
            -   name: create pull request
                run: gh pr create -B main -H ${{ env.CURRENT_BRANCH }} -d --title '${{ env.APP_VERSION }}' --body 'This is an automated pull request to update the version of the project to ${{ env.APP_VERSION }}.
                    The version is updated in the package.json file.'
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    ci:
        name: Continuous Integration on release
        if: github.event.pull_request.merged == true
        permissions:
            actions: read
            contents: read
            security-events: write
        uses: ./.github/workflows/continuous-integration.yml
    tagged-release:
        name: Creating Tag and Release
        runs-on: ubuntu-latest
        needs: [ ci ]
        permissions:
            contents: write
        steps:
            -   uses: actions/checkout@v4
            -   name: Extract branch name
                shell: bash
                run: echo "APP_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
            -   name: Create Release & Tag
                run: gh release create ${{env.APP_VERSION}} --generate-notes ${{ !contains(env.APP_VERSION, 'Beta') || '--prerelease' }} ${{ contains(env.APP_VERSION, 'Beta') || '--latest' }}     
    