name: Release
on:
    workflow_call:
    workflow_dispatch:
        inputs:
            tag:
                description: "Tag"
                required: true
                default: "v0.0.0"
            draft:
                description: "Draft"
                required: true
                default: true
            prerelease:
                description: "Prerelease"
                required: true
                default: false
    push:
        tags:
            - "V*"
jobs:
    update_version:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v2

            -   name: Update version
                run: |
                    jq '.version = "${{ inputs.tag || github.ref_name }}"' Epsilon.Host.Frontend/package.json > Epsilon.Host.Frontend/package.json.tmp
                    mv Epsilon.Host.Frontend/package.json.tmp Epsilon.Host.Frontend/package.json

            -   name: Commit version change
                run: |
                    git config --local user.email "actions@github.com"
                    git config --local user.name "GitHub Action"
                    git add Epsilon.Host.Frontend/package.json
                    git commit -m "Bump version package.json to ${{ inputs.tag || github.ref_name }}"
                    git push origin HEAD:develop
    ci:
        permissions:
            actions: read
            contents: read
            security-events: write
        needs: [ update_version ]
        uses: ./.github/workflows/continuous-integration.yml
    tagged-release:
        runs-on: ubuntu-latest
        needs: [ ci ]
        permissions:
            contents: write
        steps:
            -   uses: actions/checkout@v4
            -   uses: ncipollo/release-action@v1
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}
                    draft: ${{ inputs.draft || true }}
                    commit: ${{ github.sha }}
                    generateReleaseNotes: true
                    allowUpdates: true
                    tag: ${{ inputs.tag || github.ref_name }}
                    prerelease: ${{ inputs.prerelease || false }}               